<head>
<style type="text/css">

.menu_bg {
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

</style>
</head>


<% if notice != '' %>
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
<% end %>


<h1 style="color: orange">Menu</h1>

<div class="btn-group">
  <% @sections.each do |section| %>
    <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
  <% end %>
</div>

<br>
<br>

<% if @current_section %>
  <div class="card card-block">
		<%= form_tag nil, {:method => :get} do %>
			<div class='form-inline'>
				<%= select_tag :sort_column, options_for_select(['Name', 'Price']), class: 'form-control mr-sm-2' %>
				<%= select_tag :sort_direction, options_for_select(['Asc', 'Desc']), class: 'form-control mr-sm-2' %>
				<%= submit_tag 'Sort', class: 'btn btn-secondary' %>
        <%= hidden_field_tag :section_id , @current_section.id %>
			</div>
		<% end %>
  </div>

	<br>
	<br>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency item.price %></td>
          <td><%= image_tag item.image_url_or_default, style: 'max-width:100px' %></td>
          <td><%= link_to "Order", new_order_path(food_item_id: item.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <body background="<%= image_url('foods.jpeg') %>" class="menu_bg">
    <div class="card-columns">
      <% @foods.each do |food_item| %>
        <div class="card card-dark">
          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="<%= food_item.image_url_or_default %>" class="img-fluid">
            <a>
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>


          <!--Card content-->
          <div class="card-block">
            <!--Social shares button-->
            <a class="activator"><i class="fa fa-share-alt"></i></a>
              <!--Title-->
              <h4 class="card-title"><%= food_item.name %></h4>
              <hr>
              <!--Text-->
              <a href="<%= food_item_path(id: food_item.id) %>" class="d-flex flex-row-reverse"><h5 class="waves-effect waves-light p-2">Read more <i class="fa fa-chevron-right"></i></h5></a>
          </div>
          <!--/.Card content-->

          <div class="card-footer">
            <p class="card-text"><small class="text-muted"><%= number_to_currency food_item.price %> (<%= food_item.section%>)</small></p>
          </div>
        </div>
        <!--/.Card Dark-->
      <% end %>
    </div>
    <br>
  </body>
<% end %>

