<head>
<style>
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
</style>
</head>

<h1>Menu</h1>

<div class="btn-group">
  <% @sections.each do |section| %>
    <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
  <% end %> 
</div>

<br>
<br>

<% if @current_section %>
  <div class="card card-block">
		<%= form_tag nil, {:method => :get} do %>
			<div class='form-inline'>
				<%= select_tag :sort_column, options_for_select(['Name', 'Price']), class: 'form-control mr-sm-2' %>
				<%= select_tag :sort_direction, options_for_select(['Asc', 'Desc']), class: 'form-control mr-sm-2' %>
				<%= submit_tag 'Sort', class: 'btn btn-secondary' %>
        <%= hidden_field_tag :section_id , @current_section.id %>
			</div>
		<% end %>	
  </div>

	<br>
	<br>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency item.price %></td>
          <td><%= image_tag item.image_url_or_default, style: 'max-width:100px' %></td>
          <td><%= link_to "Order", new_order_path(food_item_id: item.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="card-columns">
	  <% @foods.each do |food_item| %>
  		<div class="card">
    		<img class="card-img-top">
          <%= image_tag food_item.image_url_or_default, style: 'max-height:100px' %>
        </img>
    		<div class="card-block">
      		<h4 class="card-title"><%= food_item.name %></h4>
          <p class="card-text"><%= food_item.description %></p>
    		</div>
    		
				<div class="card-footer">
          <small class="text-muted"><%= number_to_currency food_item.price %> (<%= food_item.section%>)</small>
    		</div>
  		</div>
	  <% end %>
	</div>
  <br>
<% end %>
