<h1>Order for <%= @item.name %></h1>

<%= form_for @order, url: orders_path(food_item_id: @item.id) do |f| %>
  <% if @order.errors.present? %>
    <div class="alert alert-dangerr">
      <%= @order.errors.full_messages.to_sentence %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control" %>
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name, class: "form-control" %>
    <%= f.label :customer_address %>
    <%= f.text_field :customer_addr, class: "form-control" %>
    <%= f.label :phone_number %>
    <%= f.text_field :customer_phone_number, class: "form-control" %>
  </div>
  <%= f.submit nil, class: "btn btn-primaryy" %>
<% end %>
