<h1>Search</h1>

<% if @foods_search.present? %>
  <% @foods_search.each do |food_item| %>
  	<div class="card" style="width: 20rem;">
    	<img class="card-img-top">
				<%= image_tag food_item.image_url_or_default %>
			</img>
    	<div class="card-block">
       	<h4 class="card-title"><%= food_item.name %></h4>	
				<p class="card-text"><%= food_item.description %></p>
    	</div>
			<div class="card-footer">
          <small class="text-muted"><%= number_to_currency food_item.price %> (<%= food_item.section%>)</small>
      </div>
  	</div>
    <br>
  <% end %>
<% else %>
	<p>There are no food name contains the term(s) '<%= params[:term] %>'</p>
<% end %>
