
<p id="notice"><%= notice %></p>

<div class="container">

<% if notice %>

  <br>

  <%= link_to 'Edit', edit_food_item_path(@food_item) %> |
  <%= link_to 'Back', food_items_path %>

<% else %>
  <div class="splash-box" style="background:flex-wrapb"><%= image_tag @food_item.image_url_or_default, style: 'height:auto%;width:100%;' %>
  </div>
  <hr/>

  <h4>
    <%= @food_item.name %>
  </h4>
  <br>
  <p>
    <%= @food_item.description %>

    <br>
    <hr/>
    <strong>
    Price:
    <%= number_to_currency @food_item.price %>
    <br>
    Menu:
    <%= @food_item.section %>
    </strong>
  </p>



<% end %>
</div>


