<head>
  <style type="text/css">
    .navbar {
      margin-bottom: 20px;
      border-radius: 0;
    }
  </style>
</head>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">QResto</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= menu_path %>">Menu<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= contact_us_path %>">Contact us<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <a class="form-inline my-2 my-lg-0">
        <%= form_tag(search_food_items_path(:term), :method => "get", id: "search-form", html: {class: 'form-group'}) do %>
      	<%= text_field_tag :term, params[:term], class: 'form-control mr-sm-2', placeholder: "Food names" %>
      	<%= submit_tag "Search", class: 'btn btn btn-outline-success my-2 my-sm-0', :name => nil %>
      	<% end %>
      </a>
    </div>
  </div>
</nav>
